<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- HMAC authentication secret key -->
  <add key="HMACSecretKey" value="bigfat88paddywhacks" />

  <!-- Profiling1 SSO URL -->
  <add key="Profiling1SsoUrl" value="http://localhost:9871/Profiling/SSO.aspx" />
  
  <!-- Active Directory authentication (only used with ActiveDirectoryMembershipProvider) -->
  
  <!-- Note on Windows 2k3 (not Windows 7 or 2k8) the domain must be fully qualified -->
  <add key="ActiveDirectoryDomainName" value="monuc.dpko.un.org" />
  
  <!-- If non-empty, initial bind to AD will be done using this username -->
  <add key="ActiveDirectoryUser" value="" />
  <add key="ActiveDirectoryUserPassword" value="" />

  <!-- UserPrincipal property name used to check whether AD user exists in local user table. -->
  <add key="ActiveDirectoryUserIDFieldName" value="EmployeeId" />

  <add key="ApplicationUrl" value="http://localhost:59173/Profiling2/" />
  <!-- Set what should be considered by audit related code as the starting revision ID number.  Normally should be 1. -->
  <add key="BaseRevisionId" value="100" />
  <!-- Folder path to temporarily store images for Aspose previews -->
  <add key="PreviewTempFolder" value="C:\\TEMP" />
  <add key="AsposeLicenseFile" value="D:\projects\Aspose.Total.lic" />
  <add key="LuceneIndexDirectory" value="C:\TEMP\indexes" />
  <add key="TesseractDataDirectory" value="D:\projects\tessdata" />

  <add key="ApiUsername" value="blah" />
  <add key="ApiPassword" value="blahblah" />

  <!-- Source.SourcePath prefixes used in Source Folder Counts monthly email report -->
  <add key="SourceFolders" value="\\kindata01\hrights$\Reporting and Investigation Unit\Reporting &amp; Investigation Unit for all staff\,
       \\kindata01\hrights$\Reporting and Investigation Unit\Reporting &amp; Investigation Unit for R&amp;I only\,
       \\kindata01\hrights$\PROTECTION UNIT\,
       \\kindata01\hrights$\HR Kinshasa Field Office\,
       \\kindata01\hrights$\TJ and FAI Unit\TJ and FAI Unit\TJ Unit Only,
       \\kindata01\hrights$\JIT\,
       \\kindata01\military$\00-FC,
       \\kindata01\military$\01-DFC\,
       \\kindata01\military$\02-FCOS,
       \\kindata01\military$\03-OPS\,
       \\kindata01\military$\06-SECURITY SECTOR REFORM,
       \\kindata01\jmac$,
       \\kindata01\cps-external$" />
</appSettings>
