<?xml version="1.0"?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\TEMP\profiling2.log" />
    <appendToFile value="true" />
    <datePattern value=".yyyyMMdd" />
    <rollingStyle value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />-->
      <param name="ConversionPattern" value="%-6level%date{yyyy-MM-dd HH:mm:ss} [%type] %message%newline" />
    </layout>
  </appender>
  <appender name="NHibernateLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\TEMP\profiling2.nhibernate.log" />
    <appendToFile value="true" />
    <datePattern value=".yyyyMMdd" />
    <rollingStyle value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-6level%date{yyyy-MM-dd HH:mm:ss} [%type] %message%newline" />
    </layout>
  </appender>
  <appender name="HangfireLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\TEMP\profiling2.hangfire.log" />
    <appendToFile value="true" />
    <datePattern value=".yyyyMMdd" />
    <rollingStyle value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-6level%date{yyyy-MM-dd HH:mm:ss} [%type] %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
  </root>
  <logger name="NHibernate" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="NHibernateLogFileAppender" />
  </logger>
  <logger name="Hangfire" additivity="false">
    <level value="INFO" />
    <appender-ref ref="HangfireLogFileAppender" />
  </logger>
</log4net>
