<html>
    <head>
	    <style>
		    table th, td { text-align: left; }
		    table td.value { text-align: right; }
		</style>
	</head>
    <body>
        <p>This is an automated notification.</p>
        @RenderBody()
    </body>
</html>