@using Profiling2.Domain.Prf.Sources
@using Profiling2.Web.Mvc.Areas.Sources.Controllers.ViewModels
@model RemovePasswordViewModel
@{
    ViewBag.Title = "Remove Password";
}

<h2>Remove Password</h2>

<p>Use this form to remove passwords on sources that are password protected.</p>

<hr />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-error">
        @Html.ValidationSummary()
    </div>
}

@if (!string.IsNullOrEmpty((string)TempData["Result"]))
{
    <div class="alert">@TempData["Result"]</div>
}

@using (Html.BeginForm("RemovePassword", "Previews", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            @Html.PasswordFor(x => x.Password, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Remove</button>
        @Html.ActionLink("Back", "Passwords", "Previews", new { area = "Sources" }, new { @class = "btn" })
    </div>
}