@using Profiling2.Domain.Scr
@model Request
@{
    ViewBag.Title = "Add Attachment";
}

<h2>Add Attachment</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-error">
        @Html.ValidationSummary()
    </div>
}

@using (Html.BeginForm("Create", "Attachments", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>@Model.RequestName</legend>
        <div class="control-group">
            <label class="control-label">File</label>
            <div class="controls">
                <input type="file" name="file" id="file" />
            </div>
        </div>
    </fieldset>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Back to attachments", "Index", "Attachments", new { area = "Screening", requestId = Model.Id }, new { @class = "btn" })
    </div>
}