<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Pdf" version="11.1.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="HangFire" version="1.4.2" targetFramework="net45" />
  <package id="HangFire.Core" version="1.4.2" targetFramework="net45" />
  <package id="HangFire.SqlServer" version="1.4.2" targetFramework="net45" />
  <package id="HrdbWebServiceClient" version="0.2.4.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net45" />
  <package id="log4net" version="2.0.4" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="MiniProfiler.NHibernate" version="2.1.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NHibernate" version="3.3.5.4000" targetFramework="net45" />
  <package id="NHibernate.Envers" version="1.6.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SharpArch.Domain" version="2.1.2" targetFramework="net45" />
  <package id="SharpArch.NHibernate" version="2.1.2" targetFramework="net45" />
  <package id="TikaOnDotNet" version="1.7.0" targetFramework="net45" />
</packages>