<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="8.6.3" targetFramework="net45" />
  <package id="Aspose.Pdf" version="11.1.1" targetFramework="net45" />
  <package id="Aspose.Slides.NET" version="15.11.0" targetFramework="net45" />
  <package id="Aspose.Words" version="15.12.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="CompareNETObjects" version="3.03.0.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net45" />
  <package id="log4net" version="2.0.4" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Contrib.Management" version="1.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NHibernate" version="3.3.5.4000" targetFramework="net45" />
  <package id="NHibernate.Envers" version="1.6.0" targetFramework="net45" />
  <package id="SharpArch.Domain" version="2.1.2" targetFramework="net45" />
  <package id="SharpArch.NHibernate" version="2.1.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="TikaOnDotNet" version="1.7.0" targetFramework="net45" />
</packages>