<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>-->
<!-- 
Deprecated configuration method: http://nuget.codeplex.com/workitem/2900 
This value is also configured in Solutions\nuget.config, but as of NuGet 2.2 it wasn't being used in some situations.
-->
<settings>
  <repositoryPath>..\..\Packages</repositoryPath>
</settings>