@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model EthnicityViewModel
@{
    ViewBag.Title = "Edit Ethnicity";
}

<h2>Edit Ethnicity</h2>

<hr />

@using (Html.BeginForm("Edit", "Ethnicities", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_EthnicityForm", Model)
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Back", "Index", "Ethnicities", new { area = "Profiling" }, new { @class = "btn" })
    </div>
}
