@using Profiling2.Web.Mvc.Areas.System.Controllers.ViewModels
@model RoleViewModel
@{
    ViewBag.Title = "Create Role";
}
@section scripts
{
  $(document).ready(function() {
      var view = new Profiling.Views.RoleEditFormView();
      $("h2").after(view.render().el);
  }); 
}

<h2>Create Role</h2>

<hr />

@using (Html.BeginForm("Create", "Roles", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_RoleForm")
}