@{
    ViewBag.Title = "Merge Events";
}
@section scripts
{
    $(document).ready(function() {
        var router = new Profiling.Routers.MergeEventsRouter();
        Backbone.history.start();
    });
}

<h2>Event Merge</h2>

<p>All fields will be combined - however it is necessary to sanity-check the results of the merge, for example to ensure that narratives make sense.</p>

<p>In the case of true duplicates (i.e. same text, same responsibilities, sources, etc), deleting an event can be an alternative to merging.</p>

<hr />

<div class="row-fluid">
    <div id="left-column" class="span6"></div>
    <div id="right-column" class="span6"></div>
</div>
<hr />
<div class="row-fluid pagination-centered">
    <button id="merge-button" class="btn btn-primary">Merge</button>
</div>