@using Profiling2.Domain.Prf
@using Profiling2.Domain.Prf.Events
@model IList<Tag>
@{
    ViewBag.Title = "Tags";
}

<div class="btn-toolbar">
    <div class="btn-group">
      @Html.ActionLink("Create Tag", "Create", "Tags", new { area = "Profiling" }, new { @class = "btn btn-mini" })
    </div>
</div>

<h2>Tags</h2>

<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tag tag in Model)
        {
            <tr>
                <td>@Html.ActionLink(tag.TagName, "Details", new { area = "Profiling", id = tag.Id })</td>
                <td>@tag.Events.Count</td>
            </tr>
        }
    </tbody>
</table>