@using Profiling2.Domain.Prf.Sources;
@model IList<SourceIndexLog>
@{
    ViewBag.Title = "View Source Index Log";
}
@section scripts
{
  $(document).ready(function() {
    var dataTable = new Profiling.DataTable("logs-table", {
      sAjaxSource: "@(Request.ApplicationPath + "/")System/SourceIndexLog/DataTables",
      aoColumnDefs: [ { aTargets: [ 2 ], bVisible: false } ],
      fnRowCallback: function(nRow, aData, iDisplayIndex) {
        $("td:eq(0)", nRow).html("<a href='@(Request.ApplicationPath + "/")System/SourceIndexLog/Details/" + aData[0] + "'>" + aData[0] + "</a>");
        $("td:eq(1)", nRow).html("<p class='accordion-toggle' data-toggle='collapse' data-target='#log-" + aData[0] + "'>" + aData[1] + "</p> <div id='log-" + aData[0] + "' class='collapse out'><pre>" + aData[2] + "</pre></div>");
        $("td:eq(2)", nRow).css("white-space", "nowrap");
      }
    });
  });
}

<h2>View Source Index Log</h2>

<table id="logs-table" class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Log</th>
            <th></th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>