@using Profiling2.Domain.Extensions
@using Profiling2.Domain.Prf.Units
@model Unit

<h2>
    @Model.UnitName
    @if (Model.HasStartDate() || Model.HasEndDate())
    {
        <small>(@Model.PrintDates())</small>   
    }
</h2>