@using Profiling2.Domain.Prf
@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model RoleViewModel
@{
  Layout = "";
  ViewBag.Title = "Edit Function";
}

@using (Html.BeginForm("EditModal", "Roles", FormMethod.Post, new { @class = "form-horizontal" }))
{
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Edit Function</h4>
  </div>
  <div class="modal-body form-horizontal">
    @Html.Partial("_RoleForm", Model)
  </div>
  <div class="modal-footer">
    <a id="modal-role-edit-button-@Model.Id" class="btn btn-primary">Save</a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
}
