@using Profiling2.Web.Mvc.Areas.Screening.Controllers
@using Profiling2.Domain.Prf
@{
    ViewBag.Title = "Requests";
}
@section scripts
{
    $(document).ready(function() {
        var router = new Profiling.Routers.RequestIndexRouter();
        Backbone.history.start();
    });
}

<h2>Requests</h2>

<hr />

<div id="requests-table-div" class="clearfix"></div>